%kaushan-400 {
  font-family: 'Kaushan Script', cursive;
  font-weight: 400;
}

%montserrat-700 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

%montserrat-400 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

%roboto-400 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

%roboto-300 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

%roboto-300i {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
}
