.container {
    
    width: 100%;
    background: url("../images/header.png") no-repeat;
    background-position: center;
    background-size: cover;
    }
.container-gradient{
  background: -o-linear-gradient(
      290deg,
      rgba(243, 129, 129, 0.85),
      rgba(252, 227, 138, 0.9)
    );
    background: linear-gradient(
      160deg,
      rgba(243, 129, 129, 0.85),
      rgba(252, 227, 138, 0.9)
    );
    padding-bottom: 230px;
}
  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
  .header-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 58px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    font-family: "Montserrat", sans-serif;
  }
  /* logo  */
  .logo {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0;
  }
  .logo__link {
    text-decoration: none;
    color: #ffffff;
  }
  
  /* menu  */
  .nav {
  }
  .nav__list {
    width: 618px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    vertical-align: bottom;
  }
  .nav__link:hover {
    color: #fce38a;
    border-bottom: 3px solid #fce38a;
    padding-bottom: 12px;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.25s;
         -o-transition-duration: 0.25s;
            transition-duration: 0.25s;
  }
  .nav__icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    fill: #ffffff;
  }
  .nav__icon:hover {
    fill: #fce38a;
  }
  .header-1 {
    margin-bottom: 166px;
  }
  
  /* header2 */
  .slogan-title {
    font-size: 72px;
    color: #ffffff;
    font-family: "Kaushan Script";
    font-weight: 400;
    text-align: center;
    margin-bottom: 34px;
  }
  .welcome-title {
    font-size: 150px;
    line-height: 140px;
    
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    width: 821px;
    margin: 0 auto 110px;
  }
  .button-header {
    width: 160px;
    height: 40px;
    border: 3px solid #ffffff;
    cursor: pointer;
    margin: 0 auto;
    padding-left: 29px;

  }
  .button-header__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 700;
    line-height: 34px;
  }
  /* section-name */
  .main {
    padding-top: 45px;
  }
  .section__title--cursive {
    display: block;
    font-size: 24px;
    font-family: "Kaushan Script", cursive;
    color: #333333;
    text-align: center;
    margin-bottom: 16px;
  }
  .section__title--non-serif {
    display: block;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase;
    text-align: center;
  }
  .section__title::after {
    margin: 36px auto 54px;
    display: block;
    content: "";
    width: 60px;
    height: 3px;
    background-color: #f38181;
  }
  /* services */
  .section__services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .card-service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 383px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 88px;
    margin-top: 10px;
  }
  .card-service::before {
    display: block;
    content: "";
    width: 74px;
    background-repeat: no-repeat;
    background-position: center top;
  }
  .alarm::before {
    background-image: url("../images/alarm.svg");
  }
  .line-graph::before {
    background-image: url("../images/line-graph.svg");
  }
  .computer::before {
    background-image: url("../images/computer.svg");
  }
  .book::before {
    background-image: url("../images/book.svg");
  }
  .home::before {
    background-image: url("../images/home.svg");
  }
  .image::before {
    background-image: url("../images/image.svg");
  }
  .card-service__text {
    width: 300px;
  }
  .card-service__name {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
    margin-bottom: 12px;
  }
  .card-service__description {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #999999;
  }
  
  /* team */
  .section__text {
    display: block;
    width: 950px;
    font-size: 15px;
    color: #999999;
    font-family: "Roboto";
    font-weight: 400;
    text-align: center;
    margin: 0 auto 90px;
  }
  .section-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 80px;
  }
  .card-team__pic {
    position: relative;
    margin-bottom: 22px;
    width: 380px;
    height: 470px;
  }
  .card-team__img {
    width: 380px;
    height: 470px;
    height: 100%;
  }
  .card-team__overlay {
    display: none;
  }
  .card-team__pic:hover {
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transform: translate(-10px, -10px);
        -ms-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
    -webkit-transition-duration: 0.25s;
         -o-transition-duration: 0.25s;
            transition-duration: 0.25s;
  }
  .card-team__pic:hover .card-team__overlay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    background: -o-linear-gradient(
      290deg,
      rgba(243, 129, 129, 0.85),
      rgba(252, 227, 138, 0.9)
    );
    background: linear-gradient(
      160deg,
      rgba(243, 129, 129, 0.85),
      rgba(252, 227, 138, 0.9)
    );
    width: 380px;
    height: 470px;
    -webkit-box-shadow: #95e1d3 10px 10px;
            box-shadow: #95e1d3 10px 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card-team__name {
    font-size: 14px;
    line-height: 28px;
    color: #333333;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
  }
  .card-team__job {
    font-size: 15px;
    color: #999999;
    font-family: "Roboto";
    font-weight: 300;
    font-style: italic;
    text-align: center;
    line-height: 24px;
  }
  /* social icons */
  .soc-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 223px;
    height: 55px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .soc-icons__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 55px;
    height: 55px;
    background-color: #fce38a;
    opacity: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .soc-icons__link:hover {
    background-color: #f38181;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.25s;
         -o-transition-duration: 0.25s;
            transition-duration: 0.25s;
  }
  .soc-icons__svg {
    height: 26px;
    fill: #f38181;
  }
  .soc-icons__link:hover .soc-icons__svg {
    fill: #ffffff;
  }
  /* footer */
  .footer {
    height: 62px;
    font-size: 14px;
    color: #333333;
    font-family: "Montserrat";
    font-weight: 400;
    border-top: #e5e5e5 1px solid;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__link {
    text-decoration: none;
    color: #f38181;
  }
  /* form  */
  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  input[type="text"] {
    height: 40px;
    width: 230px;
    padding-left: 10px;
    border: 1px solid #e7e7e7;
    font-size: 15px;
    line-height: 24px;
    color: #333333;
    font-family: "Roboto";
    font-weight: 300;
  }
  input::-webkit-input-placeholder {
    font-size: 15px;
    line-height: 24px;
    color: #cccccc;
    font-family: "Roboto";
    font-weight: 300;
    font-style: italic;
  }
  input::-moz-placeholder {
    font-size: 15px;
    line-height: 24px;
    color: #cccccc;
    font-family: "Roboto";
    font-weight: 300;
    font-style: italic;
  }
  input:-ms-input-placeholder {
    font-size: 15px;
    line-height: 24px;
    color: #cccccc;
    font-family: "Roboto";
    font-weight: 300;
    font-style: italic;
  }
  input::-ms-input-placeholder {
    font-size: 15px;
    line-height: 24px;
    color: #cccccc;
    font-family: "Roboto";
    font-weight: 300;
    font-style: italic;
  }
  input::placeholder {
    font-size: 15px;
    line-height: 24px;
    color: #cccccc;
    font-family: "Roboto";
    font-weight: 300;
    font-style: italic;
  }
  input[type="submit"] {
    width: 150px;
    height: 40px;
    background-color: #95e1d3;
    font-size: 14px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
  }
 