$white-color: #ffffff;
$yellow-color: #fce38a;
$pink-color: #f38181;
$light-grey-color: #999999;
$dark-grey-color: #333333;
$turquoise-color: #95e1d3;
$placeholder-color: #cccccc;
$footer-border-color: #e5e5e5;
$input-border-color: #e7e7e7;
$gradient-color: linear-gradient(
    160deg,
    rgba(243, 129, 129, 0.85),
    rgba(252, 227, 138, 0.9)
  );